.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
}

.btn {
  border-radius: 50%;
  border: 2px solid black;
  height: 50px;
  width: 50px;
  font-size: 20px;
}

.green {
  background-color: rgba(0, 128, 0, 0.5);
}

.green:hover {
  background-color: rgba(0, 128, 0);
}

.red {
  background-color: rgba(255, 0, 0, 0.5);
}

.red:hover {
  background-color: rgba(255, 0, 0);
}